# dependencies
node_modules
/.pnp
.pnp.js
.yarn/

# next.js
.next
/out/

# local env files
.env*.local
.env
.env.production

# PM2 logs
logs/
*.log
pids
*.pid
*.seed
*.pid.lock

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SSH keys and sensitive data
*.key
*.pem
id_*
known_hosts

# IDE
.vscode/
.idea/

# OS
Thumbs.db
